.cards-container > img {
  border-radius: 8px;
  margin: "50px";
  background-color: "#454a46";
  cursor: pointer;
  border: 3px solid transparent;
  transform-origin: center right;
  width: 120px;
  height: 120px;
  object-fit: scale-down;
}
.resetButton {
  margin: 20px auto;
  padding: 10px 20px;
  display: block;
  background: radial-gradient(yellow, orange);
  color: black;
  cursor: pointer;
  border-radius: 8px;
  border-color: none;
  font-weight: 500;
  font-size: 1.2em;
}

.player-container {
  display: flex;
  justify-content: space-around;
}

.player1:hover {
  border: 3px solid lightgreen;
}

.player2:hover {
  border: 3px solid orange;
}
