* {
  margin: 0;
  padding: 0;
  background-color: #454a46;
}
.App {
  text-align: center;

  color: white;
}
label {
  font-size: 1.4rem;
}

select {
  font-size: 1.4rem;
  color: white;
  text-align: center;
  text-align-last: center;
  margin-left: 10px;
}

form {
  padding-top: 70px;
}
